<!DOCTYPE html>
<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/weather1.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>This site was created by Chandrahas Settaluri. It uses data from "mapbox.com" and "weatherstack.com" to fetch the weather Data.</p>
        <img src="/img/me.jpg" class="portrait">
    </div>
    {{!-- {{>header}} --}}
    {{>footer}}
    {{!-- <h1> {{title}} </h1> --}}
    {{!-- <p> Created by {{name}} </p> --}}
</body>

</html>