<!DOCTYPE html>
<html>

<head>
    <title>Help</title>
    <link rel="icon" href="/img/weather1.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    {{!-- type "div.main-content" and press "Tab" Key --}}
    <div class="main-content">
        {{>header}}
        <p> {{message}} </p>
    </div>
    {{!-- {{>header}} --}}
    {{>footer}}
    {{!-- <h1> Help </h1> --}}
    
</body>

</html>